<div classe="loginA">
  <label for="uname"><b>Username</b></label>
  <input type="text" placeholder="Entre Username" name="uname" required>

  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Entre Password" name="psw" required>

  <button type="submit">Login</button>
  <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
  </label>
</div>
